html{
    font-size: 18px;
    }

#wrapper {
    margin: 5em;
}

/*normal link*/
a:link {
    color: #cff2e4;
}

/*visited link*/
a:visited {
 color: #cff2e4;
}

/*when mouse is over link*/
a:hover {
    color: #fee2d7;
    text-decoration: none;
}

/*when link is clicked*/
a:active {
    color: #fee2d7;}


#leftbar {
    position: fixed;
}


h1 {
    font-size: 9em;
    color: #fee2d7;
    font-family: 'Amatic SC', cursive;
    padding-top: 0em;
    margin-top: 0em;
    
}


h2 {
    font-family: 'Handlee', cursive;
    color: #fee2d7;
    font-size: 1.5em;
    }

h3 {
    font-family: 'Handlee', cursive;
    font-size: 2em;
    color: #cff2e4;
    padding-bottom: 0em;
    margin-bottom: 0em;
}

#pattern h1 {
    font-size: 4em;
    font-family: 'Amatic SC', cursive;
    padding-top: .5em;
    color: #fee2d7;
}

#pattern h2 {
    font-family: 'Handlee', cursive;
    font-size: 1.5em;
}

#pattern p {
    font-family: 'Handlee', cursive;
    color: #d6d6d6;
    font-size: 1.2em;
}

img {
    padding-top: 5.5em;
}