html{
    font-size: 18px;
    }

/*normal link*/
a:link {
    color: #c6c72e;
}

/*visited link*/
a:visited {
 color: #c6c72e;
}

/*when mouse is over link*/
a:hover {
    color: #f97b59;
    text-decoration: none;
}

/*when link is clicked*/
a:active {
    color: #f97b59;
}

#nav {
    text-align: right;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2.5em;
    margin-top: 1em;
    list-style: none;
    }

#nav ul {
    display: inline-block;
    list-style: none;
    }

#nav ul li {
    display: inline;
    padding: .3em;
    }

.pagebody {
    border-left-style: solid;
    border-color: #c6c72e;
    padding-left: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 8em;
    }

#greeting {
    font-size: 1.2em;
    font-family: 'Reenie Beanie', cursive;
    }


#title {
    font-family: 'Raleway', sans-serif;
    font-size: 4.1em;
    }

#subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    padding-top: 1.5em;
}

#contact {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;

}

#greetingbottom {
    font-size: 1.3em;
    font-family: 'Reenie Beanie', cursive;
    padding-top: 1em;
    padding-bottom: 1em;
    }

#social {
    font-size: 1.2em;
}


/*secondary pages*/
.pagebody2 {
    border-left-style: solid;
    border-color: #c6c72e;
    padding-left: 1em;
    margin-top: 6em;
    padding-top: .2em;
    padding-bottom: 2em;
    }

.pagebody3 {
    padding-left: 1em;
    margin-top: 9em;
    padding-bottom: 2em;
    }

.pagebody4 {
    padding-left: 1em;
    margin-top: 3em;
    padding-bottom: 2em;
    }

#title2 {
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    }

#greeting2 {
    font-size: 1.3em;
    font-family: 'Reenie Beanie', cursive;
    padding-top: 1em;
    }


/*about*/

.pagebody-about1 {
    padding-left: 1em;
    margin-top: 9em;
    padding-bottom: 2em;
    }

#about img {
    padding-left: 1em;
    padding-bottom: 2em;
}

#resumepdf {
    font-family: 'Raleway', sans-serif;
    padding-top: 2.2em;
    font-size: 1.2em;
    }


#resume h1 {
    padding-top: .5em;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    }

#resume h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    padding-left: 1.5em;
    padding-top: .5em;
    }

#resume p {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding-left: 4em;
    }

#resume h3 {
    font-family: 'Reenie Beanie', cursive;
    padding-top: 2em;
    margin-bottom: 3.5em;
    text-align: right;
    }

/*writing*/

#writing h1{
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    }

#writing h2{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: #BCBCBC;
    }

#writing h3{
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.3em;
    padding-bottom: 1.5em;
    padding-left: .2em;
    }

#writing p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    }

/*projects*/

#projects h1{
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    }

#projects h2{
    font-family: 'Raleway', sans-serif;
    font-size: 1.7em;
    }

#projects h3{
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.3em;
    padding-bottom: 0em;
    padding-left: .2em;
    }

#projects p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    }

#projects h4{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: #BCBCBC;
    }

/*portfolio pages*/

#portfoliopage h1{
    font-family: 'Raleway', sans-serif;
    font-size: 3.2em;
    }

#portfoliopage h2{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    padding-top: 1.5em;
    }


